@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animated-white-underline {
    @apply underline underline-offset-2 decoration-gray-400 decoration-1 hover:decoration-2 hover:decoration-white transition-all;
  }
  .animated-black-underline {
    @apply underline underline-offset-2 decoration-gray-400 decoration-1 hover:decoration-2 hover:decoration-gray-600 transition-all;
  }
}

@keyframes colorTransition {
  0%,
  100% {
    stopcolor: #f112d9; /* Initial color */
  }
  50% {
    stopcolor: #2ed3c6; /* Transition color */
  }
}

@keyframes colorTransition2 {
  0%,
  100% {
    stopcolor: #2ed3c6; /* Initial color */
  }
  50% {
    stopcolor: #f112d9; /* Transition color */
  }
}

html {
  scroll-behavior: smooth;
}
